<!DOCTYPE html>
<html>
<head>
<title>Colors</title>
</head>
<body>
    <table style="width: 60%; margin: auto;">
        <tr>
            <th>Mã màu</th>
            <th>Tên(optional)</th>
            <th>Ghi chú</th>
        </tr>
        <tr>
            <td style="background-color: #e84545">#e84545</td>
            <td>red</td>
            <td>Color of button<br/></td>
        </tr>
        <tr>
            <td style="background-color: #53354a">#53354a</td>
            <td>dont know</td>
            <td>Background client<br/></td>
        </tr>
        <tr>
            <td style="background-color: #3a3e64">#3a3e64</td>
            <td>Dont know</td>
            <td>footer-up<br/></td>
        </tr>
        <tr>
            <td style="background-color: #313454">#313454</td>
            <td>dont know</td>
            <td>footer-down<br/></td>
        </tr>
    </table>
    <style>
        table, td, th {
            border-style: solid;
            border-width: thin;
            border-collapse: collapse;
            min-height: 40px;
            padding: 10px;
        }
    </style>
</body>
</html>