<!DOCTYPE html>
<html>

<head>
    <title>Images</title>
</head>

<body>
    <table style="width:80%; margin: auto;">
        <tr>
            <th style="width:60%">Hình ảnh</th>
            <th style="width:15%">Kích thước</th>
            <th style="width:25%">Ghi chú</th>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/Masthead/background_banner.png">
            </td>
            <td>1900x750</td>
            <td>Ảnh background header trang chủ</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/header/logoActivebox.png">
            </td>
            <td>189x24</td>
            <td>logo activebox trang chủ</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/feature/logo_feature1.png">
            </td>
            <td>60x60</td>
            <td>icon feature 1</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/feature/logo_feature 2.png">
            </td>
            <td>73x60</td>
            <td>icon feature 2</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/feature/logo_feature3.png">
            </td>
            <td>41x60</td>
            <td>icon feature 3</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/feature/feature_logo 4.png">
            </td>
            <td>56x60</td>
            <td>icon feature 3</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/feature/logo_feature 5.png">
            </td>
            <td>72x60</td>
            <td>icon feature 3</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/feature/logo_feature6.png">
            </td>
            <td>79x60</td>
            <td>icon feature 3</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image1.png">
            </td>
            <td>480x350</td> 
            <td>image work 1</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image2.png">
            </td>
            <td>480x350</td> 
            <td>image work 2</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image3.png">
            </td>
            <td>480x350</td> 
            <td>image work 3</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image4.png">
            </td>
            <td>480x350</td> 
            <td>image work 4</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image5.png">
            </td>
            <td>480x350</td> 
            <td>image work 5</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image6.png">
            </td>
            <td>480x350</td> 
            <td>image work 6</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image7.png">
            </td>
            <td>480x350</td> 
            <td>image work 7</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/work/work_image8.png">
            </td>
            <td>480x350</td> 
            <td>image work 8</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_image1.png">
            </td>
            <td>9,53x9,53</td> 
            <td>image team 1</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_image2.png">
            </td>
            <td>9,53x9,53</td> 
            <td>image team 2</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_image3.png">
            </td>
            <td>9,53x9,53</td> 
            <td>image team 3</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_image4.png">
            </td>
            <td>9,53x9,53</td> 
            <td>image team 4</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/client/client_image.png">
            </td>
            <td>36,12x21,91</td> 
            <td>image client</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_logo_in.png">
            </td>
            <td>16x16</td> 
            <td>imagelogo in</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_logo_fb.png">
            </td>
            <td>16x16</td> 
            <td>image logo fb</td>
        </tr>
        <tr>
            <td class="col1">
                <img src="../activebox image/team/team_logo_twitter.png">
            </td>
            <td>16x16</td> 
            <td>image logo twitter</td>
        </tr>
    </table>
    <style>
        table,
        td,
        th {
            border-style: solid;
            border-width: thin;
            border-collapse: collapse;
            min-height: 40px;
            padding: 10px;
        }

        img {
            max-width: 100%;
        }

        .col1 {
            background-color: lightslategray;
        }
    </style>
</body>

</html>